:root {
    --accent: #4faa4f;
    --text: #003f66;
    --text-hover: var(--accent);
    --text-active: #FFFFFF;
    --border-width: 0.125em;
}

* {
    box-sizing: border-box;
}

.hidden-toggles {
    position: relative;
    border-radius: 999em;
    overflow: hidden;
    height: 2.75em;
    width: 20em;
    display: flex;
    flex-direction: row-reverse;

    >* {
        flex: 0 0 33.33%;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: var(--border-width) solid var(--accent);
        border-radius: 999em;
        pointer-events: none;
    }
}

.hidden-toggles__input {
    display: none;

    &:checked+.hidden-toggles__label {
        background-color: var(--accent);
        color: var(--text-active);

        &:before {
            opacity: 1;
        }

        &:last-of-type {
            background: linear-gradient(90deg, var(--accent) 0%, var(--accent) 100%);
        }
    }

    &:nth-of-type(1)+label {
        order: 4
    }

    &:nth-of-type(2)+label {
        order: 3
    }

    &:nth-of-type(3)+label {
        order: 2
    }
}

.hidden-toggles__label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-out;
    color: var(--text);

    &:hover {
        color: var(--text-hover);
    }

    &:nth-of-type(2) {
        border-left: var(--border-width) solid var(--accent);
        border-right: var(--border-width) solid var(--accent);
    }

    &:last-of-type {
        border-left: var(--border-width) solid var(--accent);
    }
}

.avatar {
    display: none;
}

.info p {
    color: #717579;
    font-weight: bold;
}

.info div {
    font-size: 17px;
    color: #3B4043;
    ;
}



.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.preview {
    width: 1350px;
    height: 780px;
    top: 120.37px;
    left: 310.1px;
    border-radius: 8.89px;
    background: white;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.image-container {
    margin-top: 40px;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image{
   
        width: 900px;
        height: 600px;
        background: orange;
        border-radius: 7px;
}
.result{

    
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 60px;
        font-weight: 700;
     
}
@media (max-width: 600px) {
    .headline {
        font-size: 30px;
        padding-top: 150px;

    }

    .preview {
        width: 480px;
        flex-direction: column;
        left: 0
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .image{
        width: 380px;
        height: 300px;
    }
    .result{
        font-size: 45px;
        font-weight: 700;
    }
}